<form data-ng-submit="createPhoto(photo)">

  <label for="content">Photo:</label>
  <input type="file" accept=".jpg" name="content" data-ng-model="photo.content">

  <!-- <label for="dateCreated">Date Created:</label>
  <input type="text" name="Date Created" data-ng-model="photo.dateCreated">

  <label for="Title">Title:</label>
  <input type="text" name="title" data-ng-model="photo.title">

  <label for="Tags">Tags:</label>
  <input type="text" name="tags" data-ng-model="photo.tags">

  <label for="Location">Location:</label>
  <input type="text" name="location" data-ng-model="photo.location"> -->

  <ng-transclude></ng-transclude>
  <button type="submit">Upload</button>
</form>
