<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <title>OmniFilter</title>
    <link rel="stylesheet" href="/sass/styles.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,800' rel='stylesheet' type='text/css'>
  </head>

  <body data-ng-app="omnifilterApp">
    <section data-ng-controller="authController" data-ng-init="updateEmail()">
      <header>
        <p data-ng-if="email">{{'Hello ' + email}} <a href data-ng-click="logout()">logout</a></p>
      </header>
      <main data-ng-view>
      </main>
    </section>

  <footer>
  	<section class="footer">
  		<p>Footer placeholder</p>
  	</section>
  </footer>

    <script src="bundle.js"></script>
  </body>
</html>
