
/*************** Main Page Layout **************/
// @import url(https://fonts.googleapis.com/css?family=Gloria+Hallelujah);

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6em;
  font-family: "Open Sans", sans-serif;
  // By Adbar - Own work, CC BY-SA 3.0, https://commons.wikimedia.org/w/index.php?curid=27342180
	background-image: url("../images/background.jpg");
	background-size: cover;
  margin: 0 auto;
  max-width: 1000px;
}

main {
  font-family: fantasy, serif;
  font-size: 1.6rem;
  text-shadow: 1px 1px #C3DEEC;
}

header {
	display: inline;
}

nav {
	background-image: url("../images/logo_omnifilter_70.png");
	background-repeat: no-repeat;
	margin-bottom: 10px;
	font-size: 1.7em;
	padding-top: 7px;
	padding-bottom: 7px;
	margin-left: 425px;
	width: 100%;
}

nav li {
}

h1 {
  font-size: 3.4rem;
  text-shadow: 2px 2px #C3DEEC;
}

h1.title {
	font-family: 'Gloria Hallelujah';
	font-size: 3em;
	text-align: center;
	padding-top: 15px;
	padding-bottom: 15px;
}

a {
  color: #808080;
}

img {
  max-width: 100%;
  display:block;
  height: auto;
}

footer {
	text-align: center;
	text-size: 12;
	padding-top: 500px;
	width: 100%;
}
