/**********LAYOUT***********/

.header {
  height: 300px;
  border: solid black;
  border-width: 3px;
}

.nav {
  height: 50px;
  border: solid black;
  border-width: 1px;
}

h1.title {
  margin-top: 10px;
  margin-bottom: 10px;
}

.footer {
  background-color: #B9C5CB;
  border: solid black;
  border-width: 3px;
  margin-top: 10px;
}
