/**********LAYOUT***********/

header {
  margin-top: 5%;
  height: 300px;
}

main {
  margin-top: 3%;
}

nav {
  height: 155px;
  border: none;
  width: 100%;
}

h1.title {
  margin-top: 10px;
  margin-bottom: 10px;
}

.footer {
  background-color: #D6BF9F;
  border: none;
  margin-top: 10px;
  width: 100%;
}
